{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>제목</th>
          <th>아이디</th>
          <th>일시</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <th>제목 테스트</th>
          <th>fcuser</th>
          <th>2019-05-01 11:16:00</th>
        </tr>
        <tr>
          <th>2</th>
          <th>title test</th>
          <th>Sanghyuk Son</th>
          <th>2019-05-02 12:16:00</th>
        </tr>
        <tr>
          <th>3</th>
          <th>title</th>
          <th>Sanghyuk Son</th>
          <th>2019-05-02 12:16:00</th>
        </tr>
      </tbody>

    </table>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button class="btn btn-primary">글쓰기</button>
  </div>
</div>
{% endblock %}