{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
  <div class="col-12">
    <form method='POST' action='.'>
      {% csrf_token %}
      <h3>{{ error }}</h3>

      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_labels }}">{{ field.label }}</label>
        {% ifequal field.name "contents" %}
        <textarea class="form-control" name="{{ field.name }}" placeholder="{{ field.label }}" id="{{ field.id_for_label }}" cols="30" rows="10"></textarea>
        {% else %}
        <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}"
           name="{{ field.name }}" />
        {% endifequal %}
      </div>
      {% if field.errors %}
      <span style="color: red">{{ field.errors }}</span>
      {% endif %}
      {% endfor %}

      <button type="submit" class="btn btn-primary mt-3">게시하기</button>
    </form>
  </div>
</div>
{% endblock %}