{% extends "base.html" %}
<!-- 이걸 쓰면 여러 필터 사용 가능 단, app에서 활성화 해야 함-->
{% load humanize %}
{% block header %}
<script>
function product_detail(id){
  $.ajax({
    url:"/api/product/"+id,
    success: function (result) {
      $("#product-"+id).popover({
        html:true,
        content: result.name+"<br>"+result.price
      }).popover("show")
    }
  })
}
function product_leave(id){
  $("#product-"+id).popover('hide')
}
$(document).ready(function (){})

</script>
{% endblock %}
{% block contents %}
<div class="row mt-5">
  <table class="table table-light">
    <thead class='thead-light'>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>상품명</th>
        <th scope='col'>가격</th>
        <th scope='col'>등록날짜</th>
      </tr>
    </thead>
    <tbody class="text-dark">
      {% for product in product_list %}
      <tr>
        <td scope='row'>{{ product.id }}</td>
        <td scope='row'><a id="product-{{product.id}}" onmouseenter="product_detail({{ product.id}});" onmouseleave="product_leave({{ product.id }})"
          href="/product/{{ product.id }}">{{ product.name }}</a></td>
        <td scope='row'>{{ product.price|intcomma }}원</td>
        <td scope='row'>{{ product.register_date|date:'Y-m-d H:i' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



{% endblock %}